#TableData td {
    min-width: 100px
}

.historySec .eachSC {
    padding-bottom: 10px;
    display: inline-flex;
}

.historySec .eachDay {
    display: inline-block;
    text-align: center;
    width: 60px;
}

.historySec .eachDay .day, .historySec .eachDay .dayPer {
    display: block;
    color: #fff;
}

.historySec .eachDay .pos {
    background-color: green;
    border: 1px solid #fff;
}

.historySec .eachDay .neg {
    background-color: red;
}

.historySec .eachDay .indexVal {
    background-color: gray
}

.eachSC .title {
    display: inline-block;
    width: 200px;
}